
.app {
    display: flex;
    justify-content: center;
    font: 18px Arial, sans-serif;
}

.search{
    width: auto;
}
.searchHeader{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.usersList{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}
.usersInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.usersList img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 2px;
    margin-right: 20px;
}


.userProfile * {
    margin: 5px;
}
.userProfileTitle h2 {
    display: flex;
    justify-content: center;
}
.userProfile img{
    width: 150px;
    height: 150px;
    margin-right: 10px;   
}
.userProfileInfo{
    display: flex;
    justify-content: space-between;
}
.userProfileInfo * {
margin-right: 20px;
}
.reposInfo{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
}